{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sixerr App</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="navbar-inverse">
       <div class="container">
         <div class="navbar-header">
           <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" height="23"></a>
         </div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Find serviecs">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if user and not user.is_anonymous %}
            <li class="dropdown">
              <a href="#", class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ user.get_full_name|default:user.username}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'auth:logout' %}?next={{request.path}}">Logout</a></li>
              </ul>
            </li>
            {% else %}
              <li>
                <a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}">Login</a>
              </li>
            {% endif %}
          </ul>
       </div>

     </div>
     <div id="category">
       <div class="container">
         <ul class="nav navbar-nav">
           <li><a href="#">Graphics & Design</a></li>
           <li><a href="#">Digital Marketing</a></li>
           <li><a href="#">Video & Anim</a></li>
           <li><a href="#">Music & Audio</a></li>
           <li><a href="#">P & Tech</a></li>
         </ul>
       </div>
     </div>
    </nav>
    <div id="body">
      <div class="container">
        {% block page %}
        {% endblock %}
      </div>
    </div>

    <footer id="footer">
      <div class="container">
        <span>Sixerr App &copy; 2016</span>
      </div>
    </footer>

  </body>
</html>
